*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --bg-color: #7e0707;
  --text-color: #000000;
  --accent-color: #0077ff;

  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background: linear-gradient(
    to bottom,
    #350202 0%,
    #500303 2%,
    #630303 5%,
    var(--bg-color) 10%,
    var(--bg-color) 100%
  );
  color: var(--text-color);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "head scoreboard"
    "pokedex pokedex";
  align-items: center;
  gap: 5rem;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
    gap: 2rem;
    max-width: 100%;
  }

  :root {
    font-size: 14px;
  }
}
