.pokedex {
  grid-area: pokedex;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 600px) {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
