.pokemon-card {
  border: 1px solid black;
  border-radius: 5px;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  cursor: pointer;
}

.pokemon-card img {
  width: 10em;
}

@media (max-width: 600px) {
  .pokemon-card {
    height: 8em;
    width: 8em;
  }
}
