.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 600px) {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
